/***********************************
*   chrisbauer.org 3.0 stylesheet
*   Developer: chris bauer
***********************************/

@font-face { 
	font-family: 'futura-condensed';
	src: url('fonts/futura/futurastd-condensed-webfont.eot');
	src: url('fonts/futura/futurastd-condensed-webfont.eot?#iefix') format('embedded-opentype'),
	     url('fonts/futura/futurastd-condensed-webfont.woff') format('woff'),
	     url('fonts/futura/futurastd-condensed-webfont.ttf') format('truetype'),
	     url('fonts/futura/futurastd-condensed-webfont.svg#webfont') format('svg');
}

// VARS
$color-bg:#eee;
$color-body:#333;
$color-header:#333;
$color-link:#81A61A;
$color-link-hover:#444444;

$color-green:#81A61A;
$color-brown:#5C4A36;
$color-brown-light:#9B8669;
$color-sand:#DDCAA0;
$color-black:#aaa;
$color-black-transparent:rgba(0, 0, 0, .1);

$font-body:'Roboto Slab', serif;
$font-header:futura-condensed, sans-serif;
$font-size-body:17px;
$font-size-header:30px;
$font-size-custom:15px;

$path-fonts:'../fonts/';
$path-img:'../images/';
$path-sprite:$path-img + 'sprite.png';

$size-full:970px;
$size-sidebar:340px;
$size-two-col:610px;
$size-three-col:430px;

$header-height:103px;

// FORM MIXINS (adjust colors per site)
@mixin form-submit($color:#fff) {
    display:block;
    line-height:25px;
    border:none;
    font-size:12px;
    font-weight:bold;
    background:$color;
    text-transform:uppercase;
    padding:0 5px;
    margin:0;
    color:#fff;
    &:hover {
        color:#000;
    }
}
@mixin form-submit-small() {
    line-height:25px;
    background:#fff;
    padding:0 3px;
    @include border-radius(5px);
}
@mixin input-text() {
    background:#fbfbfb;
    border:1px solid #fff;
    @include font(13px, 19px);
    height:19px;
    width:138px;
    margin:0;
    padding:2px 4px;
}
@mixin select() {
    border:1px solid #fff;
    width:150px;
    padding:2px 2px 2px 4px;
    margin:8px 10px 0 0;
}

/*  import base structure */
	@import 'base';

/*
* BEGIN: Site Styles
*/

body {
	@include font(17px, 24px);
}

/* global */
h1, h2, h3, h4, h5, h6 {
	font-family: $font-header;
	margin-bottom:5px;
	
}
h1 {
	font-size:48px;
	line-height:60px;
	margin-bottom:20px;
	@include text-shadow(1px, 1px, 1px, #ffffff);
}

h2 {
	font-size:36px;
	line-height:42px;
}

h3 {
	font-size:28px;
	line-height:34px;
}

h4 {
	font-size:24px;
	line-height:30px;
}

/* form stuff */
form, form * {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

label {
	font-family:$font-header;
	color:$color-link-hover;
	font-size:24px;
	line-height:26px;
	letter-spacing:1px;
}
input[type=submit] {
	font-family:$font-header;
	font-size:18px;
	line-height:22px;
	background:$color-green;
	color:#fff;
	border:none;
	padding:10px 20px;
	&:hover {
		background:$color-link-hover;
	}
	&:active {
		background:rgba($color-link-hover, .8);
	}
}
input[type=text], input[type=email], textarea {
	width:250px;
	background: #ddd;
	border:none;
	padding:4px 10px;
	font-family:$font-body;
	font-size:14px;
	color:#333333;
}
input[type=text], input[type=email] {
	height:36px;
	line-height:28px;
}
.form-item {
	margin-top:0;
}
.submitted {
	margin-bottom:10px;
}

/* layout */
#container {
	background:#fff;
	padding:25px 40px;
	@include box-shadow($x:0px, $y:2px, $blur:2px, $spread:0px,$color:$color-black-transparent);
}

#banner {
	position:absolute;
	z-index:0;
	top:0;
	width:100% !important;
}

.region-content p img {
	margin:0 20px 20px 20px;
}

/* blocks */
#header {
	background:rgba(255, 255, 255, .8);
	margin-bottom:100px;
	z-index:2;
	position:relative;
	@include text-shadow(1px, 1px, 1px, #ffffff);
	.header-inner {
		width:$size-full;
		margin:0 auto;
		height:auto;
		overflow:hidden;
	}
	#logo {
		float:left;
		margin-right:25px;
		padding-top:16px;
		img {
			height:70px;
			width:auto;

		}
	}
	.slogan {
		font-size:34px;
		line-height:$header-height;
		height:$header-height;
		float:left;
		margin:0;
		text-transform:lowercase;
		color:#555;
		font-family:$font-header;
	}

	#block-system-main-menu {
		font-family:$font-header;
		float:right;
		ul {
			font-size:34px;
			line-height:$header-height;
			height:$header-height;
			text-transform:lowercase;
			height:auto;
			overflow:hidden;
			li {
				float:left;
				margin-left:45px;
				a {
					color:#555555;
					&:hover {
						color:$color-green;
					}
					&.active {
						color:$color-green;
					}
				}
			}
		}
	}
}

footer {
	width:$size-full;
	margin:0 auto;
	color:#aaaaaa;
	font-size:11px;
}

/* page specific */

/* front */
body.page-home, body.page-node-4 {
	#container {
		margin-bottom:0;

	}
	#header {
		width:100%;
		margin-bottom:265px;
		#block-system-main-menu ul li.menu-home a {
			color:$color-green;
		}
	}
	#container {
		background:none;
		position:relative;
		z-index:3;
		@include box-shadow($color:rgba(0, 0, 0, 0));
	}
	#content {
		#page-title {
			float:right;
			width:610px;
		}
		.field-name-body {
			float:right;
			width:610px;
		}
	}
}

#block-views-homepage-slider-block-1 {
	.views-row {
		position:relative;
		height:auto;
		overflow:hidden;
	}
	.views-field-field-slider-image {
		img {
			width:100%;
			height:auto;
		}
	}
	.color-overlay {
		// background:rgba(238, 238, 238, .1);
		width:100%;
		position:absolute;
		height:530px;
		top:0;
	}	
	.slider-content {
		position:absolute;
		right:10%;
		top:20%;
		display:none;
		/* removing this for now, may have been a bad idea */
		.views-field-title {
			background:$color-green;
			@include box-shadow($x:2px, $y:2px, $blur:0px, $spread:0px,$color:$color-black-transparent);
			float:left;
			padding:0 16px;
			position:relative;
			left:-10px;
			top:5px;
			-webkit-transform: matrix(1,0,-0.055,1,0,0);
			-moz-transform: matrix(1,0,-0.055,1,0px,0px);
			-ms-transform: matrix(1,0,-0.055,1,0,0);
			-o-transform: matrix(1,0,-0.055,1,0,0);
			transform: matrix(1,0,-0.055,1,0,0);	
			h3 {
				font-size:24px;
				line-height:34px;
				margin:0;
				color:#fff;	
			}
				
		}
		.views-field-body {
			width:260px;
			background:$color-black-transparent;

			clear:both;
			color:#fff;
			padding:18px 13px 13px 13px;
			line-height:22px;
			p {
				margin-bottom: 0;
			}
		}
	}
}

/* internal pages */
.not-front {
	#container {
		margin-bottom:45px;
	}
	#header {
		// margin-bottom:50px;
	}
}

.page-blog {
	h1 {
		display:none;
	}
	#container {
		padding:40px;
	}
	.view-id-blog {
		.views-row {
			position:relative;
			margin-bottom:40px;
			&:hover a {
				color:$color-link-hover;
				@include text-shadow(1px, 1px, 0px, rgba(255, 255, 255, .5));			

			}
			&:hover .color-overlay {
				opacity:.85;
			}
		}
		.views-field-title {
			position:absolute;
			right:20px;
			top:15px;
			left:15px;
			z-index:4;
			h3 {
				font-size:66px;
				line-height:70px;
				a {
					@include text-shadow(1px, 1px, 0px, rgba(0, 0, 0, .5));
					-moz-transition: all .15s;
					-webkit-transition: all .15s;
					-o-transition: all .15s;
					transition: all .15s;
				}
			}
		}
		.color-overlay {
			opacity:.6;
			-moz-transition: all .15s;
			-webkit-transition: all .15s;
			-o-transition: all .15s;
			transition: all .15s;			
		}
	}
}

.node-type-blog-entry {
	#container {
		width:710px; /* smaller width, include dat padding though for da grid */
	}
}

/* standard page */
.not-front {
	.field-name-field-banner-image {
		position:absolute;
		top:0;
		left:0;
		z-index:-1;
		width:100%;
		img {
			width:100%;
			height:auto;
		}
	}
}

/* services page */

/*contact form */
#block-webform-client-block-12 {
	input[type=submit] {
		width:100%;
	}
	label {
		width:90px;
		font-size:16px;
		line-height:36px;
		height:36px;
		float:left;
		clear:both;
		margin-right:20px;
	}
	input[type=text], input[type=email] {
		width:230px;
	}
	#webform-component-email-address {
		margin-bottom:12px;
	}
}